#text{
  width: 100%;
  color: white;
  position: absolute;
  text-align: center;
  z-index: 1;
}

canvas{
  position: fixed;
}

.break{
  background-color: transparent;
  border-color: transparent;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 1rem;
}

.tall{
  min-height: 100vh;
}

.center{
   padding: 50vh 0;
}

img{
  filter: grayscale(100%);
  
  -webkit-transition: filter 500ms ease-in-out;
}

img:hover{
  filter: grayscale(0%);
  -webkit-transition: filter 500ms ease-in-out;
}